@import "../InterfaceContainer";

.nft-manager {
  @extend %interface-container;
}

.mft-manager-content-container {
  padding: 40px;
  display: flex;
  align-items: flex-start;
}

.side-menu {
  width: 250px;
}

.input-search-container {
  margin-bottom: 25px;
}
