@import '../InterfaceContainer';

.nft-manager {
  @extend %interface-container;
}

.mft-manager-content-container {
  padding: 40px;
}

.side-menu {
  width: 230px;
  margin-right: 40px;
}

.input-search-container {
  margin-bottom: 25px;
}

.content-block {
  padding: 0;
}
