//@import '~@/scss/GlobalVariables';
@import "../../../../InterfaceContainer";

.crypto-kitties-details {
  @extend %interface-container;
}

.crypto-kitties-details-content-container {
  padding: 30px;
}

.grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 350px auto;
  align-content: center;
  justify-content: center;
}

.kitty-image {
  img {
    width: 100%;
  }
}

.kitty-text {
  margin: auto 0;
  h3 {
    font-weight: 600;
    margin-bottom: 10px;
  }
}

.address-input-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.send-button {
  margin-top: 40px;
}
