@import "~@/scss/GlobalVariables";

ul {
  li {
    padding: 10px 20px;
    color: $dark-grey-7;
    cursor: pointer;
    user-select: none;
    &:hover {
      color: $dark-grey-9;
    }
    &.selected {
      color: $dark-grey-9;
      font-weight: 600;
    }
  }
}
